<footer>
        <ul class="social-icons">
                <li><a aria-label="Github" href="https://github.com/george-pearson"><i class="fab fa-github-alt fa-3x"></i></a></li>
                <li><a aria-label="LinkedIn" href="https://linkedin.com/in/george-pearson-27244a30/"><i class="fab fa-linkedin fa-3x"></i></a></li>
                <li><a aria-label="Twitter" href="https://twitter.com/georgepearson_"><i class="fab fa-twitter fa-3x"></i></a></li>
                <li><a aria-label="Mail" href="mailto:george-pearson.business@outlook.com"><i class="far fa-envelope fa-3x"></i></a></li>
        </ul>
        <p>&copy; George Pearson {{ site.time | date: '%Y' }}</p>
</footer>