.intro{
    p {
        @extend %center;
        color: $color--darkgrey;
        max-width: 360px;
    }
    a {
        @extend %blue-links;
    } 
}

.maboi-brackets {
    background-image: url('../../assets/images/maboi-brackets.svg');
    max-width: 500px;
    height: 320px;
    margin: 1em auto 1em;
    background-size: 100%;
    background-repeat: no-repeat;
}