.post {
    margin: 0 auto 0;
    max-width: $post-width;
    padding: 1em;

    .post-header {
        color: $color--skyblue;
        margin: 0;
        h1 {
            margin: 0 auto;
        }
        .post-date {
            color: $color--skyblue;
            @include fontsize(20);
            margin: 0 auto;
            @include breakpoint(sm) {
                @include fontsize(16);
            }
        }
    }

    h2 {
        color: $color--darkblue;
        margin: 0 auto;
    }

    a {
        @extend %blue-links;
    }

    ul { 
        list-style: none;
        color:$color--darkgrey;
    }

    ul li::before {
        content: "●"; 
        color: $color--skyblue;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        margin-right: 0.5em;
    }

    .footnotes {
        color: $color--darkgrey;
    }
}