.post-list {
    ul {
        padding-left: 0;
    }
    
    li {
        list-style: none;
        padding: 0.5em;
        &:hover{
            background: $color--lightgrey;
            @extend %transition-duration;
        }
    }

    h2 {
        color: $color--skyblue;
        margin-bottom: 0.2em;
        margin-top: 0.2em;
    }

    a {
        max-width: 700px;
        margin: 0 auto;
        text-decoration: none;
        display: block;
    }

    .post-meta {
        margin: 0.2em auto;
        font-style: italic;
        color: $color--skyblue;
    }
    
    .post-subtitle {
        margin: 0.2em auto;
        color: $color--darkgrey;
    }
    
    .post-image {
        @extend %center;
        padding: 0.5em;
        display: block;
        height: 20em;
    }
}