%font-basic {
    font-family: sans-serif;
    font-weight: 300;
}

%font-title {
    font-family: 'Alegreya Sans SC', sans-serif;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
}

%blue-links {
    color: $color--skyblue;
    text-decoration: none;
    background-image: linear-gradient(to top, $color--skyblue, $color--skyblue 50%, transparent 50%, transparent);
    background-position: 0% 0%;
    background-size: 100% 200%;
    @extend %transition-duration;

    &:hover{
        color: $color--lightest;
        background-position: 0 100%;
    }
} 