%font-basic {
    font-family: sans-serif;
    font-weight: 300;
}

%font-title {
    font-family: 'Alegreya Sans SC', sans-serif;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
}