// COLORS!!
$color--skyblue: #00c1c1;
$color--blue: #006699;
$color--darkblue: #09616c;
$color--darkgrey: #696969;
$color--lightgrey: #ebebe0;
$color--subtlegrey: #f0f3f3;
$color--orange: #FF6600;
$color--darkorange: #CC3300;
$color--white: #fff;
$color--darkgreen: #357a55;
$color--darkpurple: #282a36;

$post-maxwidth: 740px;
$post-minwidth: 290px;